.FollowsPage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.followspage_header{
    width: 100%;
    height: 180px;
}
.followspage_content{
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    border-top: 3px solid #E3F5FE;
}
.followspage_profile{
    width: 300px;
    height: 100%;
}
.followspage_FollowsSession{
    flex-grow: 1;
    height: 100%;
    background-color: #061726;
}