.ElementProfileBox{
    display: flex;
}
.waveElement_profileName{
    color: white;
}
.waveElement_profileImgBox{
    object-fit: cover;
}

@media only screen and (min-width: 1200px){
    .ElementProfileBox{
        padding: 18px;
    }
    .waveElement_profileName{
        height : 30px;
        line-height: 38px;
        font-size : 20px;
    }
    .waveElement_profileImgBox{
        width : 40px;
        height: 40px;
        border-radius: 20px;
        margin-right : 12px;
    }
}
@media only screen and (min-width: 900px) and (max-width: 1199px){
    .ElementProfileBox{
        padding: 15px;
    }
    .waveElement_profileName{
        height : 25px;
        line-height: 35px;
        font-size : 15px;
    }
    .waveElement_profileImgBox{
        width : 35px;
        height: 35px;
        border-radius: 20px;
        margin-right : 8px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 899px){
    .ElementProfileBox{
        padding: 15px;
    }
    .waveElement_profileName{
        height : 25px;
        line-height: 35px;
        font-size : 15px;
    }
    .waveElement_profileImgBox{
        width : 35px;
        height: 35px;
        border-radius: 20px;
        margin-right : 8px;
    }
}
@media only screen and (min-width: 450px) and (max-width: 599px){
    .ElementProfileBox{
        padding: 12px;
    }
    .waveElement_profileName{
        height : 23px;
        line-height: 30px;
        font-size : 13px;
    }
    .waveElement_profileImgBox{
        width : 30px;
        height: 30px;
        border-radius: 15px;
        margin-right : 7px;
    }
}