.show_reply_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.show_reply_header > div{
    color: #1A1A1A;
    font-weight: bold;
}
.show_reply_body{
    overflow: scroll;
}
.show_reply_body::-webkit-scrollbar{
    display: none;
}
.reply_box{
    display: flex;
}
.reply_user{
    display: flex;
}
.reply_user_img{
    width: 40px;
}
.reply_user > div{
    font-weight: bold;
}
.show_reply_footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media only screen and (min-width: 600px){
    .show_reply_header{
        height: 50px;
        padding: 5px 15px;
    }
    .show_reply_header > div{
        font-size: 25px;
    }
    .show_reply_header > div > img{
        height: 20px;
    }
    .show_reply_body{
        padding: 15px;
        max-height: 400px;
    }
    .show_reply_footer{
        padding-top: 20px;
    }
}
@media only screen and (min-width: 450px) and (max-width: 599px){
    .show_reply_header{
        height: 40px;
        padding: 4px 12px;
    }
    .show_reply_header > div{
        font-size: 23px;
    }
    .show_reply_header > div > img{
        height: 18px;
    }
    .show_reply_body{
        padding: 13px;
        max-height: 350px;
    }
    .show_reply_footer{
        padding-top: 15px;
    }
}
@media only screen and (min-width: 300px) and (max-width: 499px){
    .show_reply_header{
        height: 30px;
        padding: 3px 10px;
    }
    .show_reply_header > div{
        font-size: 20px;
    }
    .show_reply_header > div > img{
        height: 16px;
    }
    .show_reply_body{
        padding: 5px;
        max-height: 330px;
    }
    .show_reply_footer{
        padding-top: 12px;
    }
}
@media only screen and (min-width: 270px) and (max-width: 299px){
    .show_reply_header{
        height: 10px;
        padding: 2px 8px;
    }
    .show_reply_header > div{
        font-size: 16px;
    }
    .show_reply_header > div > img{
        height: 14px;
    }
    .show_reply_body{
        padding: 3px;
        max-height: 300px;
    }
    .show_reply_footer{
        padding-top: 10px;
    }
}